<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <form method="POST" action="/new">
            <h2>New Message</h2>

            <div class="entries">
                <div class="input-field">
                    <label for="name">Name: </label>
                    <input id="name" type="text" name="name">
                </div>

                <div class="input-field">
                    <label for="message">Message: </label>
                    <textarea id="message" name="message" rows="5" cols="30"></textarea>
                </div>

                <button class="submit">Send</button>
            </div>

            <a href="/" style="color: #f5663f;">â† Back to messages</a>
            
        </form>
    </body>
</html>

