<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <div class="message-detail">
            <h3><%= message.user %></h3>
            <p id="date"><%= message.added %></p>
            <p><%= message.text %></p>
        </div>

        <a href="/" style="color: #f5663f;">← Back to all messages</a>
    </body>
</html>

